@font-face {
  font-family: 'a24';
  src:  url('../fonts/a24.eot?5td4kv');
  src:  url('../fonts/a24.eot?5td4kv#iefix') format('embedded-opentype'),
    url('../fonts/a24.ttf?5td4kv') format('truetype'),
    url('../fonts/a24.woff?5td4kv') format('woff'),
    url('../fonts/a24.svg?5td4kv#a24') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="a24-"], [class*=" a24-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'a24' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.a24-arrow-down:before {
  content: "\e900";
}
.a24-broken-heart:before {
  content: "\e901";
}
.a24-commentary:before {
  content: "\e902";
}
.a24-emmeteurs:before {
  content: "\e903";
}
.a24-eye:before {
  content: "\e904";
}
.a24-eye2:before {
  content: "\e905";
}
.a24-eyes:before {
  content: "\e906";
}
.a24-facebook:before {
  content: "\e907";
}
.a24-favoris:before {
  content: "\e908";
}
.a24-fleche-bast:before {
  content: "\e909";
}
.a24-heart:before {
  content: "\e90a";
}
.a24-in:before {
  content: "\e90b";
}
.a24-linkedin:before {
  content: "\e90c";
}
.a24-live:before {
  content: "\e90d";
}
.a24-menu-news:before {
  content: "\e90f";
}
.a24-menu-trigger:before {
  content: "\e911";
}
.a24-menu-video:before {
  content: "\e912";
}
.a24-oblique:before {
  content: "\e913";
}
.a24-playIcon:before {
  content: "\e914";
}
.a24-search:before {
  content: "\e915";
}
.a24-share:before {
  content: "\e917";
}
.a24-slide-down:before {
  content: "\e918";
}
.a24-slide-left:before {
  content: "\e919";
}
.a24-slide-right:before {
  content: "\e91a";
}
.a24-twitter:before {
  content: "\e91b";
}
.a24-votes:before {
  content: "\e91c";
}
.a24-youtube:before {
  content: "\e91d";
}
.a24-zen-icon:before {
  content: "\e91e";
}
.a24-film:before {
  content: "\e91f";
}
.a24-image:before {
  content: "\e920";
}
.a24-images:before {
  content: "\e921";
}
.a24-camera:before {
  content: "\e922";
}
.a24-headphones:before {
  content: "\e923";
}
.a24-music:before {
  content: "\e924";
}
.a24-play:before {
  content: "\e925";
}
.a24-video-camera:before {
  content: "\e926";
}
.a24-connection:before {
  content: "\e927";
}
.a24-podcast:before {
  content: "\e928";
}
.a24-feed:before {
  content: "\e929";
}
.a24-folder:before {
  content: "\e92f";
}
.a24-folder-open:before {
  content: "\e930";
}
.a24-folder-plus:before {
  content: "\e931";
}
.a24-folder-minus:before {
  content: "\e932";
}
.a24-folder-download:before {
  content: "\e933";
}
.a24-spinner:before {
  content: "\e97a";
}
.a24-spinner2:before {
  content: "\e97b";
}
.a24-spinner3:before {
  content: "\e97c";
}
.a24-spinner4:before {
  content: "\e97d";
}
.a24-spinner6:before {
  content: "\e97f";
}
.a24-spinner7:before {
  content: "\e980";
}
.a24-spinner9:before {
  content: "\e982";
}
.a24-spinner10:before {
  content: "\e983";
}
.a24-gift:before {
  content: "\e99f";
}
.a24-switch:before {
  content: "\e9b6";
}