
 * RESPONSIVE -  - BY Papa Amadou Abdoulaye Bâ (paab)
*/
/*   MENU SETTINGS */
  
@media (min-width: 1200px){ /*col-lg-12*/
	/* HOME PAGE */
	.home-timeline-menu ul li .link a {
		font-size: x-large !important; color: red;
	}
	.thumbnails > li {margin-left: 0; padding: 0 2px;}
	.annonce-modal .modal-slider {
		width: 60%; max-width: 600px; height: 510px; overflow: hidden; margin: 0 auto;
	}
}
@media (min-width: 992px) and (max-width: 1199px) { /*col-md- */
	/* HOME */
	.home-timeline-menu ul li .timeline-menu-cadre{ left: 7.1% ; } */
	.playlist-video-details.sub-title.playlist .oblique {left: 3.5%; width: 4%; height: 77px; }
	/* page vidéo */
	.playlist-video-details.sub-title.playlist .search-query {
	    padding: 4px 0;
	    width: 94.1%;
	}
	#left_scroll, #right_scroll {top: 30%; }

	.top-video-infos .titre {
	    font-size: medium;
	    font-weight: 400;
	}
}
@media all and (min-width: 768px) and (max-width: 991px) { /* col-sm- */
	/*	live button*/
	.live-button {
		opacity: 1;
		top: 30%;
		padding: 1%;
		background: #ffffff;
		box-shadow: -1px 1px 1px #cecece;
		border: 1px solid #cecece;
		border-right: none;
	}
	.live-button{ color: #317F95 !important;}
	#live-cadre{width:  100%; position: initial;}

	#bilboard { height: 270px; }
	.title-cadre .video-infos .titre {font-size: 1em;}
	.top-item .title-cadre .vertical-barre.blue {display: none; }
	#left_scroll, #right_scroll {top: 25%; }
}
@media (max-width: 767px) { /* col-xs- */
	.footer-menu ul, footer .copyrights{ text-align: center; }
	/* responsive login page */
	.order-menu {
	    display: none;
	}
	/* responsive home page */
	/* top fan mobile */
	.top-fan h1 {
		bottom: initial;
		position: relative;
		color: #317f95;
		font-size: 3em;
		font-weight: 300;
		text-transform: uppercase;
		text-align: center;
		background: none;
		text-shadow: none;
	}
	.top-fan span.ranke{ bottom: 0; }
	.top-fan span.ranke b {
	    border-radius: 0; background: rgba(143, 201, 96, 0.38); text-shadow: 0px 1px 1px #101010;
	    -webkit-transform: skew(0deg); -moz-transform: skew(0deg); -o-transform: skew(0deg); tranform: skew(0deg);
	}
	.top-fan .top-item:last-child a span.ranke {
	    padding-right: initial;
	}
	.top-fan .top-item .video-item { height: 160px; border: 1px solid #ffffff; border-bottom: none; border-right: none;}
	.top-video-infos{ display: none ; }
	.top-fan .top-item:after{ display: none; }
	.top-fan .top-item { width: 50% ; background-size: 100% 160px !important; border-top: 0; border-left: 0;}
	.top-fan div:nth-child(2) { width: 100% }
	.live-modal .modal-dialog { width: 100%; }
	#carousel_inner { height: 200px; }
	.video-item-cadre .details {
	    padding: 20%;
	    visibility: visible;
	    background: none
	}
	.video-item-cadre .plays{ visibility: hidden; }
	.home-timeline-menu ul li .link a{ font-size: 0.9em; }
	.video-item-cadre .video-tags{ display: block; }
	.home-timeline-menu ul li {
	    display: block; padding-left: 0; width: 100%;
	}

	.home-timeline-menu ul li .timeline-menu-cadre{ margin-top: 0; }
	.home-timeline-menu ul{padding-top: 2%; border: none;}
	.social-menu.social-vertical{ display: none; /*  here we hide the latteral social links */}
	.container .cadre{ width: 100%; padding-top: 50px;}
	.home-timeline-menu ul li.active.red .timeline-menu-cadre,
	.home-timeline-menu ul li:hover.red .timeline-menu-cadre,
	.home-timeline-menu ul li.active.yellow .timeline-menu-cadre,
	.home-timeline-menu ul li:hover.yellow .timeline-menu-cadre,
	.home-timeline-menu ul li.active.blue .timeline-menu-cadre,
	.home-timeline-menu ul li:hover.blue .timeline-menu-cadre
	{ display: none ; }
	.home-timeline-menu ul li:hover.red{  }
	.home-timeline-menu ul li .link a{ font-size: large; padding: 5px 0; }
	.home-timeline-menu ul li .link {width: 100%;}
	.home-timeline-menu ul li.active.red,.home-timeline-menu ul li:hover.red{ border-bottom: 2px solid #ed3227; }
	.home-timeline-menu ul li.active.blue,.home-timeline-menu ul li:hover.blue{ border-bottom: 2px solid #369cc6; }
	.home-timeline-menu ul li.active.yellow,.home-timeline-menu ul li:hover.yellow{ border-bottom: 2px solid #f8ed26; }
	.home-timeline-menu ul li.active .link a {
	    background: url(../images/menu_bg.png);
	    color: #ffffff;
	    border-radius: 4px 4px 0 0;
	    display: table;
	    width: 95%;
	    margin: 0 auto;
	}
	/*} .home-timeline-menu ul li:hover .link a{ background: none ; color: #317f95 }*/
	/* responsive iframe */
	.page-content .video-details .video-cadre iframe { height: auto; }
	/*	live button*/
	.live-button {
		opacity: 1;
		top: 30%;
		padding: 1%;
		background: #ffffff;
		box-shadow: -1px 1px 1px #cecece;
		border: 1px solid #cecece;
		border-right: none;
	}
	.live-button a{ color: #317F95 !important;}
	.mobile-menu .search-box .navbar-form .input-group input[type="search"] { width: 94%; }
	#live-cadre{width:  100%;}
	#left_scroll, #right_scroll {
	    position: absolute; top: 17%;
	}
	/*	video details*/
	h1.page-title{ font-size: large; font-weight: 600; }
	.playlist-video-details.sub-title.playlist .oblique{ display: none; }
	.playlist-video-details.sub-title.playlist .search-query {
	    width: 100%;
	}
	.tags { display: none; }
	.video-details .ratings, .socialisations { max-width: 50% }
	#similaires{display: none}
	/*	all playlists pages*/
	.page-playlists #carousel { display: none !important; }
	/*	playlist details*/
	.clips-playlist {
	    display: block;
	    padding: 0;
	    max-height: 200px;
	    overflow-y: scroll;
	}
	.current-details {
	    height: auto;
	}
	.playlist-video-details h3.currentTitle{ font-size: medium; }
	.sub-title.playlist .title{ font-size: medium !important ; }
	.action-icon{ font-size: 6vw; }
	/* login page */
	.or_horizontal { display: none; }
	.connexion-cadre {
	    border: 2px solid #ddd;
	    padding-left: 15px;
	    padding-right: 15px;
	    margin: 0;
	    margin-top: 5%;
	    width: 100%;
	}
	/* search results page */
	.sub-title .oblique, .fancy-title .oblique{ display: none; }
	.sub-title .search-query{ width: 100%; margin: 0; margin-top: 2%; padding: 2%;}
	.sub-title.playlist .search-query{ padding: 2%; }
	.playlist-infos{ display: table; padding: 0 7px; }
	.sub-title .nbr-result{ display: none; }
	/* contact page */
	.contact-form form label {
	    display: block;
	    max-width: 350px;
	}
	/* footer */
	.footer-menu ul {
	   width: 100%;
	}
}
/* ----------------------------------------------------------------------------- */
@media all and (max-width: 768px) {
}
@media all and (max-width: 322px) {
	.playlist-video-details.sub-title.playlist .search-query { width: 100% }
	.playlist-video-details.sub-title.playlist .oblique{display: none;}
	.video-flag{-webkit-transform: none; -moz-transform: none; -o-transform: none; tranform: none;}
	.video-flag img {
	    left: 0;
	    -webkit-transform: none; -moz-transform: none; -o-transform: none; tranform: none;
	    width: 100%; min-height: 20px;
	}
	#carousel_inner {
		display: none;
	}
	/* footer */
	.footer-menu ul {
	   width: 100%;
	}

	.footer-menu ul li {
	    display: block;
	    margin: 0;
	    width: 100%;
	}
}
@media all and (min-width: 210px) AND (max-width: 500px){
	/* footer */
	.footer-menu ul {
	   width: 100%;
	}
	.footer-menu ul li {
	    display: block;
	    margin: 0;
	    width: 100%;
	}
	.footer-menu ul li a {
	    padding: 2% 0;
	}
}
@media all and (max-width: 215px) {
	/* footer */
	.footer-menu ul { width: 100%; }
	.footer-menu ul li { display: block; margin: 0; width: 100%; }
	.footer-menu ul li a {
	    padding: 2% 0;
	}
}
/*      setting up the oblique items     */
@media (max-width: 800px){} /* ----------------------------------------------------------------------------- */
@media (max-width: 320px) {
    .sub-title.playlist .oblique { left: 1.2% ; width: 6%;}
    /*.sub-title.playlist .search-query {width: 91.9%;}*/
}
@media (min-width: 321px) and (max-width: 360px) {
    .sub-title.playlist .oblique { left: 1.2% ; width: 6%;}
    /*.sub-title.playlist .search-query {width: 91.9%;}*/
    .playlist-video-details.sub-title.playlist .oblique{display: none;}
    .playlist-video-details.sub-title.playlist .search-query { width: 100% }
}
@media (min-width: 361px) and (max-width: 533px) {
    .sub-title.playlist .oblique { left: 1.2% ; }
    /*.sub-title.playlist .search-query {width: 94.3%;}*/
    .video-flag{ -webkit-transform: none; -moz-transform: none; -o-transform: none; tranform: none; }
    .video-flag img { left: 0; -webkit-transform: none; -moz-transform: none; -o-transform: none; tranform: none; width: 100%; min-height: 20px; }
}
@media (min-width: 534px) and (max-width: 603px) {
	/*.sub-title.playlist .search-query {width: 94.5%;}*/
}
@media (min-width: 604px) and (max-width: 640px) {
    .sub-title.playlist .oblique { left: 0 ; width: 4%;}
    .sub-title.playlist .search-query {width: 96.4%;}
}
@media (min-width: 641px) and (max-width: 768px) {
    .sub-title.playlist .oblique { left: 0 ; width: 4%;}
    /*.sub-title.playlist .search-query {width: 96.4%;}*/
}
@media (min-width: 769px) and (max-width: 800px) {
    .sub-title.playlist .oblique { left: 0 ; width: 4%;}
    .sub-title.playlist .search-query {width: 96.4%;}
}
@media (min-width: 801px) and (max-width: 900px) {
    .sub-title.playlist .oblique { left: 0 ; width: 4%;}
    .sub-title.playlist .search-query {width: 96.4%;}
}
@media (min-width: 901px) and (max-width: 1024px) {
    .sub-title.playlist .oblique { left: 1.2% ; width: 4%;}
    .sub-title.playlist .search-query {width: 96.4%;}
}
@media (min-width: 801px) and (max-width: 1024px) {
    .home-timeline-menu ul li.active.red .timeline-menu-cadre{ left: 10.1% ; }
    .home-timeline-menu ul li .link {width: 84%;}
    .sub-title.playlist .oblique { left: 1.2% ; width: 4%;}
    .sub-title.playlist .search-query {width: 96.4%;}
}
@media (min-width: 1025px) and (max-width: 1280px) {
    .home-timeline-menu ul li.active.red .timeline-menu-cadre{ left: 8.1% ; }
    .home-timeline-menu ul li .link {width: 89%;}
    .sub-title.playlist .search-query {width: 96.7%;}
}
@media (min-width: 1281px) and (max-width: 1366px) {
    .home-timeline-menu ul li.active.red .timeline-menu-cadre{ left: 7.4% ; }
    .home-timeline-menu ul li .link {width: 89%;}
    .sub-title.playlist .search-query {width: 96.9%;}
}
@media (min-width: 1367px) and (max-width: 1440px) {
    .home-timeline-menu ul li.active.red .timeline-menu-cadre{ left: 7.1% ; }
    .home-timeline-menu ul li .link {width: 89%;}
    .sub-title.playlist .search-query {width: 96.9%;}
}
@media (min-width: 1441px) and (max-width: 1600px) {
    .home-timeline-menu ul li.active.red .timeline-menu-cadre{ left: 6.5% ; }
    .home-timeline-menu ul li .link {width: 89%;}
    .sub-title.playlist .search-query {width: 97%;}
}
@media (min-width: 1601px) and (max-width: 1680px) {
    .home-timeline-menu ul li.active.red .timeline-menu-cadre{ left: 6.1% ; }
    .home-timeline-menu ul li .link {width: 89%;}
    .sub-title.playlist .search-query {width: 97%;}
}
@media (min-width: 1681px) and (max-width: 1920px) {
    .home-timeline-menu ul li.active.red .timeline-menu-cadre{ left: 6% ; }
    .home-timeline-menu ul li .link {width: 89%;}
    .home-timeline-menu ul li .link a{font-size: x-large;}
    .sub-title.playlist .oblique { left: 1.7% ; width: 4%;}
    .sub-title.playlist .search-query {width: 96.9%;}
}
@media (min-width: 1921px) {
    .sub-title.playlist .search-query {width: 94.3%;}
}
/*      setting up the oblique items     